<div class="jumbotron" id="equipment">
    <img src="img/butterfly.svg" alt="蝶蝶">
    <div class="container">
        <div class="page-header">
            <h2>裝備篇</h2>
        </div>
        <div class="row" data-ng-repeat="question in ctrl.getQuestions()" data-ng-show="ctrl.currentPage == ctrl.genPageNum($index)">
            <div class="col-sm-1">
                <h3>{{$index + 1}}.</h3>
            </div>
            <div class="col-sm-6">
                <h3 data-ng-bind="question.text"></h3>
            </div>
            <div class="col-sm-2 vertical-horizontal-center">
                <div class="onoffswitch" data-ng-if="question.type == 'bin'">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch-{{$index}}" data-ng-model="question.ans" data-ng-change="ctrl.updatePoint(question)">
                    <label class="onoffswitch-label" for="onoffswitch-{{$index}}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <div class="numInput" data-ng-if="question.type == 'time'">
                    <label>
                        <input type="number" class="form-control input-lg" data-ng-model="question.ans" data-ng-change="ctrl.updatePoint(question)">
                    </label>
                </div>
            </div>
            <div class="col-sm-3" data-ng-if="question.ans">
                <h3 data-ng-class="question.point | posNegNumClassFilter">{{question.point | posNegNumFilter}} 分</h3>
            </div>
        </div>
        <div class="container-footer">
            <pagination data-direction-links="true" data-previous-text="&lsaquo;" data-next-text="&rsaquo;" data-total-items="ctrl.totalPages" data-items-per-page="1" data-ng-model="ctrl.currentPage" data-ng-if="ctrl.totalPages > 1"></pagination>
            <hr class="featurette-divider">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6"></div>
                <div class="col-sm-2">
                    <h3 style="text-align: right">小計：</h3>
                </div>
                <div class="col-sm-3">
                    <h3>
                        {{ctrl.getPoint()}} 分
                    <span id="indicator-wrapper">
                        <span id="max-indicator" data-ng-if="ctrl.getPoint() == 125">MAX!</span>
                    </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#/行動篇">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#/其他">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>