@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);

body {
    min-width: 320px;
    padding-bottom: 80px;
    font-family: 'cwTeXMing', serif;
    overflow-x: hidden;
}

.container {
    text-align: center;
}

.container .page-header h1 {
    font-size: 56px;
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 700px;
}

.jumbotron {
    position: relative;
    background-color: transparent;
    text-align: center;
    margin-bottom: 0;
}

.jumbotron .container {
    position: relative;
    background: rgba(255,255,255,0.9);
    border-radius: 8px;
    border: solid 1px rgba(0,0,0,0.5);
    padding: 15px;
    height: 630px;
}

.jumbotron .container .container-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.jumbotron .container .container-footer .pagination {
    margin-bottom: 0;
}

.jumbotron .container .page-header {
    margin-top: 20px;
    border-bottom-color: rgba(45, 45, 45, 1);
}

.jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.15" intercept="-0.07499999999999996" /><feFuncG type="linear" slope="1.15" intercept="-0.07499999999999996" /><feFuncB type="linear" slope="1.15" intercept="-0.07499999999999996" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: contrast(125%);
    filter: contrast(125%);
}

.jumbotron#quote:after {
    background: url("../img/bg1.jpg");
    background-size: cover;
}

.jumbotron#quote .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jumbotron#occupation:after {
    background: url("../img/bg2.jpg");
    background-size: cover;
}

.jumbotron#action:after {
    background: url("../img/bg3.jpg");
    background-size: cover;
}

.jumbotron#equipment:after {
    background: url("../img/bg4.jpg");
    background-size: cover;
}

.jumbotron#other:after {
    background: url("../img/bg5.jpg");
    background-size: cover;
}

.jumbotron#total:after {
    background: url("../img/bg6.jpg");
    background-size: cover;
}


.jumbotron .container hr {
    margin-bottom: 0;
    border-top: 1px solid rgba(45, 45, 45, 1);
}

.jumbotron .glyphicon-chevron-left {
    font-size: 56px;
}

.jumbotron .glyphicon-chevron-right {
    font-size: 56px;
}

span#indicator-wrapper {
    position: relative;
}

span#max-indicator {
    position: absolute;
    top: 10px;
    left: -30px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    color: red;
    transform: rotate(-25deg);
}

.jumbotron img {
    position: absolute;
    -webkit-transform: rotateX(42deg) rotateY(24deg) rotateZ(-50deg);
    transform: rotateX(42deg) rotateY(24deg) rotateZ(-50deg);
    top: -105px;
    right: 0;
    height: 200px;
    width: auto;
    z-index: 10;
}

.jumbotron blockquote {
    text-align: justify;
    color: rgba(0, 0, 0, 1);
    border-left: 5px solid rgba(30, 30, 30, 0.6);
}

.jumbotron blockquote h3 {
    line-height: 36px;
}

.jumbotron blockquote footer {
    text-align: right;
    font-size: 20px;
}

.vertical-horizontal-center {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control:focus, .carousel-control:hover {
    opacity: 1;
}

.carousel-control {
    opacity: 0.7;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.onoffswitch {
    position: relative;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFF;
    border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 45px;
    padding: 0;
    line-height: 40px;
    font-size: 24px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "有";
    padding-right: 30px;
    background-color: #34C240; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "無";
    padding-right: 21px;
    background-color: rgba(225, 225, 225, 1);
    color: #808080;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 32px;
    height: 45px;
    margin: 0;
    background: rgba(105, 105, 105, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 72px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.onoffswitch label {
    margin-bottom: 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slide.ng-enter {
    left: 100%;
}


.slide.ng-enter-active {
    left: 0;
}


.slide.ng-leave {
    left: 0;
}

.slide.ng-leave-active {
    left: -100%;
}